<div class="container">
  <div class="row">
    <div class="col">
      <form ng-submit="$ctrl.addPoint()">
        <input type="text" placeholder="Новая точка маршрута" ng-model="$ctrl.pointName">
      </form>
      <ul>
        <li ng-repeat="point in $ctrl.points">{{ point.name }}
          <button ng-click="$ctrl.removePoint($index)">X</button>
        </li>
      </ul>
    </div>
    <div class="col">
      <yandex-map center="[0, 0]"
                  zoom="15"
                  markers="$ctrl.points"
                  controls="$ctrl.controls">
      </yandex-map>
    </div>
  </div>
</div>
