<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center">Routes</h1>
      <form ng-submit="$ctrl.addPoint($ctrl.pointName)" class="text-center">
        <input class="input" type="text" placeholder="New point of the route" ng-model="$ctrl.pointName">
      </form>
      <ul class="list" ui-sortable ng-model="$ctrl.points">
        <li class="list-item" ng-repeat="point in $ctrl.points">
          <span>{{ point.name }} - <small>{{ point.address }}</small></span>
          <button class="btn" ng-click="$ctrl.removePoint($index)">X</button>
        </li>
      </ul>
    </div>
    <div class="col">
      <yandex-map center="[0, 0]"
                  zoom="15"
                  markers="$ctrl.points"
                  controls="$ctrl.controls"
                  event="$ctrl.event">
      </yandex-map>
    </div>
  </div>
</div>
